# Python bytecode
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environment
venv/
*.egg-info/

# Flask specific
instance/
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.cache/
